/* interstate-light */
@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/interstate-light.woff2') format('woff2'),
  url('../fonts/interstate-light.woff') format('woff');
}
/* interstate-light-italic */
@font-face {
  font-family: 'Interstate';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/interstate-light-italic.woff2') format('woff2'),
  url('../fonts/interstate-light-italic.woff') format('woff');
}
/* interstate-regular */
@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/interstate-regular.woff2') format('woff2'),
  url('../fonts/interstate-regular.woff') format('woff');
}
/* interstate-italic */
@font-face {
  font-family: 'Interstate';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/interstate-italic.woff2') format('woff2'),
  url('../fonts/interstate-italic.woff') format('woff');
}
/* interstate-bold */
@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/interstate-bold.woff2') format('woff2'),
  url('../fonts/interstate-bold.woff') format('woff');
}
/* interstate-bold-italic */
@font-face {
  font-family: 'Interstate';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/interstate-bolditalic.woff2') format('woff2'),
  url('../fonts/interstate-bolditalic.woff') format('woff');
}

body {
  margin: 0;
}

#app .p-component,
#app .p-inputtext {
  font-family: Interstate, 'sans-serif';
  font-weight: 400;
  font-style: normal;
}
